<%-include("partial/head")%>
    <!-- Preloader Start -->


    <%-include("partial/navbar")%>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2></h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team Start -->
    <div class="team-area section-padding30">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/gallery/team2.png" alt="">
                        </div>

                    </div>
                </div>


                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="well profile">
                       <div class="col-sm-12">



                        <div class="team-caption">
                            <h2><a href="#">Alvin Maxwell</a></h2>
                            <h5><span>Creative UI Designer</span></h5>
                            <p></p>
                               <p><strong>About: </strong> Web Designer / UI. </p>
                               <p><strong>Hobbies: </strong> Read, out with friends</p>
                               <p><strong>Skills: </strong>
                                   <span class="tags">html5</span> 
                                   <span class="tags">css3</span>
                                   <span class="tags">jquery</span>
                                   <span class="tags">bootstrap3</span>
                               </p>
                            <!-- Team social -->
                            <div class="team-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>



                           <div class="col-xs-12 col-sm-8">
                               
                           </div>             
                           <div class="col-xs-12 col-sm-4 text-center">
                               <figure>
                                   <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                                   <figcaption class="ratings">
                                       <p>Ratings
                                       <a href="#">
                                           <span class="fa fa-star"></span>
                                       </a>
                                       <a href="#">
                                           <span class="fa fa-star"></span>
                                       </a>
                                       <a href="#">
                                           <span class="fa fa-star"></span>
                                       </a>
                                       <a href="#">
                                           <span class="fa fa-star"></span>
                                       </a>
                                       <a href="#">
                                            <span class="fa fa-star-o"></span>
                                       </a> 
                                       </p>
                                   </figcaption>
                               </figure>
                           </div>
                       </div>            
                       <div class="col-xs-12 divider text-center">
                           <div class="col-xs-12 col-sm-8 emphasis">
                               <h2><strong> 20,7K </strong></h2>                    
                               <p><small>Followers</small></p>
                               <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                           </div>
                           <div class="col-xs-12 col-sm-8 emphasis">
                               <h2><strong>245</strong></h2>                    
                               <p><small>Following</small></p>
                               <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Apointment </button>
                           </div>

                       </div>
                    </div>                 
                   </div>



            </div>
        </div>
    </div>
    <!-- Team End -->
    </main>
    <%-include("partial/footer")%>